<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Rares FPV</title>
    <link rel="icon" href="https://res.cloudinary.com/dnbqzrigq/image/upload/v1722607912/poze%20site/Ellipse_4_fhfvlv.svg" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/header2.css">
   <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <meta property="og:title" content="Rares FPV - Best fpv videos">
    <meta property="og:description" content="Discover the best FPV videos ">
    <meta property="og:image" content="https://res.cloudinary.com/dnbqzrigq/image/upload/v1722607912/poze%20site/Ellipse_4_fhfvlv.svg">
    <meta property="og:url" content="https://www.raresfpv.com">
    <script type="application/ld+json">
    {
      "@type": "WebPage",
      "name": "Rares FPV",
      "description": "Discover the best FPV videos",
      "image": "https://res.cloudinary.com/dnbqzrigq/image/upload/v1722607912/poze%20site/Ellipse_4_fhfvlv.svg",
      "url": "https://www.raresfpv.com"
    }
  </script>
</head>
<body>
  <header>          

<nav class="navbar navbar-expand-md" id="meniu1">
  <div class="container-fluid">
    <a class="navbar-brand" id="title" href="/projects">RaresFPV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="hyperlinks">
      <div class="navbar-nav">
        <a class="nav-link active" id="hl" name="Home" href="/projects">Home</a>
          <a class="nav-link active  " id="hl" aria-current="page" href="/drones">Drones</a>
          <a class="nav-link active" id="hl"  href="/services">Services</a>
          <%if(!currentUser){ %>
          <button type="button" class="btn btn-sm" id="contact"><a class="nav-link" href="/contact">Contact me</a></button>
          <% }else{ %>
            <button type="button" class="btn btn-sm" id="contact"><a class="nav-link" href="/contact/all">Contact me</a></button>
            <% } %>
      </div>
    </div>
  </div> 
</nav>

<nav class="navbar  fixed-top" id="meniu2">
  <div class="container-fluid" >
    <a class="navbar-brand" id="title" href="/projects">RaresFPV</a>
    <button class="navbar-toggler" id="toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <img class="burger" src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717484492/poze%20site/menu_24dp_FILL0_wght400_GRAD0_opsz24_sxp5if.png" alt="">
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
     <div class="offcanvas-body">
       
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      
                <% if(currentUser){ %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/logout">Log out</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/drones/new">Add Dr</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/services/new">Add Se</a>
</li>
    <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/projects/new">Add Pr</a>
               </li>
                <% } %>
                <li class="nav-item">
                  <a class="nav-link" href="/projects" name="Home" id="fastlinksMobile">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/drones">Drones</a>
                </li>
             
                <li class="nav-item">
                  <a class="nav-link" href="/services"  id="fastlinksMobile">Services</a>
                </li>
                <% if(!currentUser){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/contact" id="fastlinksMobile">Contact</a>
                </li>
                <% }else{ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact/all" id="fastlinksMobile">Contact</a>
                  </li>
                <% } %>
    
      </div>
    </div>
  </div>
</nav>

<div class="container" id="description">
  <img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1722607912/poze%20site/Ellipse_4_fhfvlv.svg" alt="" class="profile">
     <p class="profileText"> Lorem ipsum dolor sit amet consectetur. Vitae maecenas interdum volutpat in posuere in orci volutpat donec. Praesent blandit consectetur sodales ridiculus</p>
     </div>

    </header>

    
    <main>
            
            <div  class="projectIntro">
           <div>
            <h2 class="projectTitle">A detailed look into my work</h2>
            <a  id="Ylink" class=" link-light link-underline-opacity-0 "  href="https://www.youtube.com/@Raresfpv">Check out my youtube channel  &rarr;</a>
        </div>
        <div></div>
     </div>
   
     <% let x = 1; %>
     <section class="visibleImages">
         <% for (let project of projects) { %>
             <% if (x < 7) { %>
                 <% if (x != 3) { %>
                     <% if (x % 2 === 1) { %>
                         <div class="twoImgRow">
                     <% } %>
                     
                     <div class="img2">
                      <a class="imagesLink" href="/projects/<%= project._id %>">
                        <img class="picture" src="<%=project.images[0].url %>" alt="" loading="lazy">
                        <div class="textAndButton">
                         <h1 class="img2Text"><%= project.name %></h1>
                         <button class="img2Button">&rarr;</button>
                         </div>
                        </a>
                     </div>
                     <% if (x % 2 === 0) { %>
                         </div> <!-- Close twoImgRow div -->
                     <% } %>
                 <% } else { %>
                     <div class="img1">
                      <a class="imagesLink1" href="/projects/<%= project._id %>">
                      <img src="<%=project.images[0].url %>" class="picture1" alt="" loading="lazy">
                      <div class="textAndButton1">
                        <h1 class="img1Text"><%= project.name %></h1>
                       <button class="img1Button">&rarr;</button>
                      </div>
                         </a>
                     </div>
                 <% x++;} %>
             <% } else { %>
                 <% if (x === 7) { %>
                    </section>
                     <button id="toggle-btn" class="AddMoreButton">Show more</button>
                     <section id="my-section" class="AddMoreSection">
                 <% } %>
                 <% if (x % 2 === 1) { %>
                     <div class="twoImgRow">
                       
                 <% } %>
                 <div class="img2">
                  <a class="imagesLink" href="/projects/<%= project._id %>">
                    <img class="picture" src="<%=project.images[0].url %>" alt="" loading="lazy">
                    <div class="textAndButton">
                     <h1 class="img2Text"><%= project.name %></h1>
                     <button class="img2Button">&rarr;</button>
                     </div>
                    </a>
                 </div>
                 <% if (x % 2 === 0 ) { %>
                     </div> <!-- Close twoImgRow div -->
                   
                 <% } %>
             <% } %>
             <% x++; %>
         <% } %>
     </section>
     

                     <div class="letsWork">
                       <div>
                           <h2 class="proposal">Lets work together</h2>
                            <button class="contact-link"><a id="contactButton" href="/contact">contact me</a></button>
                           </div>
                        <div></div>
                    </div>
              

                         
    </main>


    <div id="desktop">
      <div class="container-fluid" id="footer">
           <div class="UpperPart">
                <h3 class="titleFooter">Raresfpv</h3>
                <a class="NiceLink" href="https://linktr.ee/sparkstudio_uxui">made with love by // @sparkagency &rarr;</a>


           </div>


           <div class="LowerPart">

    
            <div class="social">
               <a href="https://www.youtube.com/@Raresfpv"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564194/poze%20site/icons8-youtube_enoa6s.svg" alt="" class="media"></a>
               <a href="https://www.instagram.com/rares_fpv/"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564108/poze%20site/icons8-instagram_bg7ej2.svg" alt="" class="media"></a>
               <a href="https://www.tiktok.com/@_rarrrres_fpv_"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1719834969/poze%20site/tik_tok_bfo8ye.svg" alt="" id="media" class="media"></a>
              
            </div>
            <div class="Rights">
            <p class="footerText">2024 © Rarrrres FPV - All rights reserved</p>
         </div>
           </div>
     
       </div>
      
      
      </div>


<div id="mobile">
<div class="container-fluid" id="footer2">
<div class="leftSectionFooter">
<div>
<h3 class="titleFooter">RaresFpv</h3>
</div>
<div>
<a class="NiceLink" href="https://linktr.ee/sparkstudio_uxui">made with love by // @sparkagency &rarr;</a>
<p class="footerText">2024 © Rarrrres FPV - All rights reserved</p>
</div>
</div>
<div class="rigthSectionFooter">
<a href="https://www.youtube.com/@Raresfpv"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564194/poze%20site/icons8-youtube_enoa6s.svg" alt="" class="media"></a>
<a href="https://www.instagram.com/rares_fpv/"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564108/poze%20site/icons8-instagram_bg7ej2.svg" alt="" class="media"></a>
<a href="https://www.tiktok.com/@_rarrrres_fpv_"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1719834969/poze%20site/tik_tok_bfo8ye.svg" alt="" id="media" class="media"></a>

</div>



</div>


</div>
    
<script src="/javascripts/styling.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/javascripts/homepage.js">

</script>
</body>
</html>


