<head>
  <link rel="stylesheet" href="/stylesheets/individualProject.css">
</head>
<% layout('/layouts/boilerplate') %>
      

            <div class="container" id="wrapper">
              <div class="droneSection">
                <section id="drone1">
                  <div class="leftDiv">
                    <section>
                      <div class="a">
                        <div>
                          <h3 class="droneName text-light"><%= project.name %></h3>
                        </div>
                        <div class="editDelete">
                          <% if (currentUser) { %>
                            <div class="edit">
                              <button class="btn btn-warning">
                                <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/projects/<%= project._id %>/edit">Edit</a>
                              </button>
                            </div>
                            <div>
                              <form action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                              </form>
                            </div>
                          <% } %>
                        </div>
                      </div>
            
                      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <% project.images.forEach((img, i) => {  %>
                            <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                              <% 
                              let videoID = null;
                                 const ytMatch = project.link.match(/(?:youtube\.com\/.*v=|youtu\.be\/)([^&\n?#]+)/);
                                if (ytMatch) { videoID = ytMatch[1]; }
                                %>
                               <% if (videoID) { %>
                               <iframe  class="youtubeVideo"
                                       src="https://www.youtube.com/embed/<%= videoID %>"
                                       title="YouTube video" frameborder="0"
                                       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                       allowfullscreen>
                               </iframe>
<% } %>
                            </div>
                            <% }) %>
                    
                        </div>
                        
                      </div>
                    </section>
                  </div>
            
                  <div class="rightDiv">
                    <div class="secondDiv">
                       <div class="lowerSection">
                        <h4 class="SecondTitle">Description</h4>
                        <p><%= project.description %></p>
                      </div>
                     
                     
                    </div>
                  </div>
                </section>
            
                <section id="drone2">
                  <div class="empty"></div>
                  <div class="droneUsed ">  
                    <div></div>
                    <div class="accordion" id="accordionExample">
                     <div class="accordion-item" id="accordion">
                       <h2 class="accordion-header" id="headingOne">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                           Drones Used
                         </button>
                       </h2>
                       <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                         <div class="accordion-body">
                           <ul>
                             <% for(let drone of project.drones){ %>
                               <li><a href="../drones/<%=drone._id%>"><%= drone.name %></a></li>
                            <% } %>
                           </ul>
                         </div>
                       </div>
                     </div>
                </div>
                </div>
                </section>
              </div>
            </div>
          
                  
 