<head>
  <link rel="stylesheet" href="/stylesheets/new-edit.css">
</head>
<% layout('/layouts/boilerplate') %>


    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <div class="card shadow">
        <div class="card-body">
        <h2 class="text-center mb-4 text">New Drone</h2>
        
<form action="/drones" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >
    <div class=" mb-3">
     <label for="name" class="form-label text">Name of the drone</label>
     <input type="text" name="name" id="name" class="form-control" placeholder="dronename" autofocus required>
     <div class="valid-feedback">
      Looks good!
     </div>
    </div>

    <script>
       document.addEventListener('DOMContentLoaded', function () {
    bsCustomFileInput.init();
  });
    </script>
    <div class="mb-3">
      <div class="form-file custom-file">
          <input type="file" class="form-file-input" id="image" name="image" multiple required>
          <label class="form-file-label text" for="image">
              <span class="form-file-text custom-file-label">Choose image(s)...</span>
              <span class="form-file-button">Browse</span>
          </label>
      </div>
  </div>
    <div class=" mb-3">
        <label for="size" class="form-label text ">Size of the drone</label>
        <select class="form-select" name="size" aria-label="Default select example">
          <%for(let size of sizes){  %>
            <option value="<%= size %>"><%= size  %></option>
            <% } %>
          </select>
       </div>
       <div class=" mb-3">
        <label for="batery" class="form-label text">Power output of the battery</label>
        <select class="form-select" name="battery" aria-label="Default select example">
          <% for (let battery of batteries) { %>
            <option value="<%= battery %>"><%= battery %></option>
          <% } %>
        </select>
    </div>
       <div class=" mb-3">
        <label for="video" class="form-label text">Video type</label>
        <select class="form-select" name="video" aria-label="Default select example">
          <%for(let video of videos){  %>
            <option value="<%= video %>"><%= video %></option>
            <% } %>
          </select>
       </div>

       <div class="mb-3">
        <label class="form-label text" for="description">Description</label>
        <textarea class="form-control" name="description" id="description" aria-label="Description" rows="6" maxlength="250" required></textarea>
        <div class="valid-feedback">
          Looks good!
         </div>
      </div>
      <div class="mb-3">
        <label class="form-label text" for="specification">Specification</label>
        <textarea class="form-control" name="specification" id="specification" aria-label="Specification" rows="10" maxlength="250"  required></textarea>
        <div class="valid-feedback">
          Looks good!
         </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success btn-block">Add Drone</button>
        </div>

</form>


</div>

</div>

