<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaresFpv</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/header2.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/individualServices.css">
</head>

<body class="container-fluid">
    <header>          

        <nav class="navbar navbar-expand-md" id="meniu1">
          <div class="container-fluid">
            <div class="leftSide">
            <a class="navbar-brand" id="title" href="/projects">RaresFPV</a>
        </div>
        <div class="rigthSide">
            <div class="collapse navbar-collapse" id="hyperlinks">
              <div class="navbar-nav">
              
                  <a class="nav-link active  " id="hl" aria-current="page" href="/drones">Drones</a>
                  <a class="nav-link active" id="hl" name="Home" href="/projects">Home</a>
                  <a class="nav-link active" id="hl"  href="/services">Services</a>
                  <%if(!currentUser){ %>
                  <button type="button" class="btn btn-sm" id="contact"><a class="nav-link" href="/contact">Contact me</a></button>
                  <% }else{ %>
                    <button type="button" class="btn btn-sm" id="contact"><a class="nav-link" href="/contact/all">Contact me</a></button>
                    <% } %>
              </div>
            </div>
        </div>
          </div> 
        </nav>
        
        <nav class="navbar  fixed-top" id="meniu2">
          <div class="container-fluid" >
            <a class="navbar-brand" id="title" href="/projects">RaresFPV</a>
            <button class="navbar-toggler" id="toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
              <img class="burger" src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717484492/poze%20site/menu_24dp_FILL0_wght400_GRAD0_opsz24_sxp5if.png" alt="">
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
             <div class="offcanvas-body">
               
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <%if(!currentUser){ %>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/register">Register</a>
                        </li>
                        <% }else{ %>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/drones/new">Add Dr</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/services/new">Add Se</a>
        </li>
            <li class="nav-item">
                          <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/projects/new">Add Pr</a>
                       </li>
                        <% } %>
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" id="fastlinksMobile" href="/drones">Drones</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/projects" name="Home" id="fastlinksMobile">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/services"  id="fastlinksMobile">Services</a>
                        </li>
                        <% if(!currentUser){ %>
                        <li class="nav-item">
                          <a class="nav-link" href="/contact" id="fastlinksMobile">Contact</a>
                        </li>
                        <% }else{ %>
                          <li class="nav-item">
                            <a class="nav-link" href="/contact/all" id="fastlinksMobile">Contact</a>
                          </li>
                        <% } %>
            
              </div>
            </div>
          </div>
         
              
        </nav>
            </header>
        
<main>

<section class="bigScreens" >
<div class="leftDiv ">
      <h2 class="ServiceName"><%=service.name %></h2>
      <div class="Description-Buttons">
      <h3 class="ServiceDescriptionTitle">Description:</h3>
      <div class="editDelete">
       <% if (currentUser) { %>
         <div class="edit">
           <button class="btn btn-warning">
             <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/services/<%= service._id %>/edit">Edit</a>
           </button>
         </div>
         <div>
           <form action="/services/<%=service._id %>?_method=DELETE" method="POST">
             <button class="btn btn-danger">Delete</button>
           </form>
         </div>
       <% } %>
     </div>
     </div>
    <div> <p class="ServiceDescription"> <%-service.description %></p> </div>
</div >
<div class="rigthDiv">
  <div class="continut">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% service.images.forEach((img, i) => {  %>
          <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
              <img src="<%=img.url%>"  class="d-block w-100" alt="">
          </div>
          <% }) %>
  
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <div class="beforeCarousel">
  
      <% if(service.price2 === 0){ %>
      <h5 class="price2"><%=service.price1 %>$</h5>
      <% }else{ %>
        <h5 class="price"><%=service.price1 %> - <%=service.price2%>  $</h5>

        <% } %>
      <a class="ytLink" href="<%=service.link %>">Check out a similar video on my <br> youtube channel &#8599;</a>
    
    
    </div>
    </div>
</section>
</div>


<section class="empty" >
  <div class="nonColored "></div>
<div class="colored"></div>
</section>

<section class="SmallScreens container">
  <div class="upperLevel"><h2 class="ServiceName"><%=service.name %></h2></div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% service.images.forEach((img, i) => {  %>
        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
            <img src="<%=img.url%>" class="d-block w-100" alt="">
        </div>
        <% }) %>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
  </div>
  <div class="beforeCarousel">
  

    <% if(service.price2 === 0){ %>
      <h5 class="price2"><%=service.price1 %>$</h5>
      <% }else{ %>
        <h5 class="price"><%=service.price1 %> - <%=service.price2%>  $</h5>

        <% } %>
    <a class="ytLink" href="<%=service.link %>">Check out a similar video on my <br> youtube channel &#8599;</a>
     
  
  </div>
  <div class="ServiceDescriptionTitleDiv">
     <h3 class="ServiceDescriptionTitle">Description:</h3>
     <div class="editDelete">
      <% if (currentUser) { %>
        <div class="edit">
          <button class="btn btn-warning">
            <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/services/<%= service._id %>/edit">Edit</a>
          </button>
        </div>
        <div>
          <form action="/services/<%= service._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      <% } %>
    </div>
    </div>
  <div> <p class="ServiceDescription"> <%-service.description %></p> </div>
</section>




</main>
<div id="desktop">
  <div class="container-fluid" id="footer">
       <div class="UpperPart">
            <h3 class="titleFooter">Raresfpv</h3>
            <a class="NiceLink" href="">made with love by // @sparkagency &rarr;</a>


       </div>


       <div class="LowerPart">


        <div class="social">
           <a href="https://www.youtube.com/@Raresfpv"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564194/poze%20site/icons8-youtube_enoa6s.svg" alt="" class="media"></a>
           <a href="https://www.instagram.com/rares_fpv/"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564108/poze%20site/icons8-instagram_bg7ej2.svg" alt="" class="media"></a>
           <a href="https://www.tiktok.com/@_rarrrres_fpv_"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1719834969/poze%20site/tik_tok_bfo8ye.svg" alt="" id="media" class="media"></a>
          
        </div>
        <div class="Rights">
        <p class="footerText">2024 © Rarrrres FPV - All rights reserved</p>
     </div>
       </div>
 
   </div>
  
  
  </div>


<div id="mobile">
<div class="container-fluid" id="footer2">
<div class="leftSectionFooter">
<div>
<h3 class="titleFooter">RaresFpv</h3>
</div>
<div>
<a class="NiceLink" href="">made with love by // @sparkagency &rarr;</a>
<p class="footerText">2024 © Rarrrres FPV - All rights reserved</p>
</div>
</div>
<div class="rigthSectionFooter">
<a href="https://www.youtube.com/@Raresfpv"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564194/poze%20site/icons8-youtube_enoa6s.svg" alt="" class="media"></a>
<a href="https://www.instagram.com/rares_fpv/"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1717564108/poze%20site/icons8-instagram_bg7ej2.svg" alt="" class="media"></a>
<a href="https://www.tiktok.com/@_rarrrres_fpv_"><img src="https://res.cloudinary.com/dnbqzrigq/image/upload/v1719834969/poze%20site/tik_tok_bfo8ye.svg" alt="" id="media" class="media"></a>

</div>



</div>


</div>           
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>

